{% extends 'base.html' %}

{% block content %}

    <div class="am-cf am-padding am-padding-bottom-0">
        <div class="am-fl am-cf">
            <strong class="am-text-primary am-text-lg">
                {% if ssr_obj %}
                    编辑班级学习进度
                {% else %}
                    添加班级学习进度
                {% endif %}

            </strong>
            <small>学习情况管理</small>
        </div>
    </div>

    <hr>
    <form action="" class="am-form" method="post">
        {% csrf_token %}
        <div class="am-tabs am-margin" data-am-tabs>
            <ul class="am-tabs-nav am-nav am-nav-tabs">
                <li class="am-active"><a href="#tab1">基本信息</a></li>
            </ul>

            <div class="am-tabs-bd">
                <div class="am-tab-panel am-fade am-in am-active" id="tab1">

                    {% for form in forms %}
                        <div class="am-g am-margin-top">
                            <div class="am-u-sm-4 am-u-md-2 am-text-right">
                                {{ form.label }}
                            </div>
                            <div class="am-u-sm-8 am-u-md-4">
                                {{ form }}
                            </div>
                            <div class="am-hide-sm-only am-u-md-6"></div>
                        </div>
                    {% endfor %}

                </div>

            </div>
        </div>

        <div class="am-margin">
            <input type="submit" class="am-btn am-btn-primary am-btn-xs" value="提交保存">
            <button type="button" class="am-btn am-btn-primary am-btn-xs">放弃保存</button>
        </div>
    </form>
{% endblock %}

