{% extends 'base.html' %}

{% block content %}
    <div class="am-cf am-padding am-padding-bottom-0">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">学生列表</strong> /
            <small>学生管理</small>
        </div>
    </div>

    <hr>

    <div class="am-g">
        <div class="am-u-sm-12 am-u-md-6">
            <div class="am-btn-toolbar">
                <div class="am-btn-group am-btn-group-xs">
                    <a class="am-btn am-btn-default" href="{% url 'student_add' %}?next={{ request.path }}"><span
                            class="am-icon-plus"></span>
                        新增</a>
                    <button type="button" class="am-btn am-btn-default"><span class="am-icon-trash-o"></span> 删除
                    </button>
                </div>
            </div>
        </div>

        <div class="am-u-sm-12 am-u-md-3 am-form-group">
            <div class="am-input-group am-input-group-sm">
                <input type="text" class="am-form-field">
                <span class="am-input-group-btn">
            <button class="am-btn am-btn-default" type="button">搜索</button>
          </span>
            </div>
        </div>
    </div>

    <div class="am-g">
        <div class="am-u-sm-12">
            <form class="am-form">
                <table class="am-table am-table-striped am-table-bordered am-table-hover table-main am-text-center">
                    <thead>
                    <tr>
                        <th class="table-check">
                            <input type="checkbox"/>
                        </th>
                        <th class="am-text-center">ID</th>
                        <th class="am-text-center">学生姓名</th>
                        <th class="am-text-center">班级</th>
                        <th class="am-text-center">出勤</th>
                        <th class="am-text-center">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for student in all_student %}
                        <tr>
                            <td><input type="checkbox" value="{{ student.pk }}"/></td>
                            <td>{{ student.page_num }}</td>
                            <td>{{ student.customer }}</td>
                            <td>{{ student.get_class }}</td>
                            <td><a href="">考勤</a></td>
                            <td>
                                <div class="am-btn-toolbar">
                                    <div class="am-btn-group am-btn-group-xs">
                                        <a href="{% url 'student_edit' student.pk %}?next={{ request.path }}"
                                           class="am-btn am-btn-default am-btn-xs am-text-secondary"><span
                                                class="am-icon-pencil-square-o"></span> 编辑
                                        </a>
                                        <a href="{% url 'student_del' student.pk %}" class="am-btn am-btn-default am-btn-xs am-text-danger"><span
                                                class="am-icon-trash-o"></span> 删除
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}


                    </tbody>
                </table>
                <div class="am-cf">
                    共 {{ counter }} 条记录
                    <div class="am-fr am-center">
                        <ul class="am-pagination">
                            {{ page_html|safe }}
                        </ul>
                    </div>
                </div>
                <hr/>
            </form>
        </div>

    </div>
{% endblock %}